div{
    width: 350px;
    height: 200px;
    margin: 100px 0px 0px 100px;
    background-color:transparent;
}

img{
    width: 110px;
    height: 110px;
    margin: 345px 180px 95px 120px;
}

img{
    -webkit-animation: 'rotate1' 1s linear infinite;
    animation: 'rotate1' 1s linear infinite ;
}

/*@-webkit-keyframes rotate1{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}*/

@keyframes rotate1{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}